.max-w-md {
  max-width: 700px;
}

.rounded-border {
  border-radius: 1rem;
}

.name-animation {
  animation: show 1s ease;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
